body{
	font-family: sans-serif;
}

.navbar{
	background-color: white;
	color: pink;      /*navbar background color*/
}

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(0,0,0,.1);
	color: black;
	font-weight: bold;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link{
	color: black; 
	  font-family: sans-serif;
s
}


.background-side {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.static-header{
	position: relative;
min-height: 389px;
box-sizing: border-box;
padding-top: 100px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
}

div.sticky {
  position: sticky;
  top: 85px;
  font-size: 20px;
}